#mainContent{
	margin: 0 auto;
	display: none;
}

#admin{
	display: none;
}

#userDots{
	list-style: none;
	margin-left: -45px;
}
#userDots li{
	width: 10px;
	height: 10px;
	background: lightGrey;
	background-size: 100%;
	float: left;
	margin-left:10px;
	border-radius: 50px;
}
#message{
	
}
#numUsers, #userIdentity{
	color: gray;
}